<header class="bg-blue-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-bold">Acti-Sens</h1>
      <nav>
          <ul class="flex space-x-4">
              <li><a routerLink="/home" class="hover:text-gray-200">Accueil</a></li>
              <li><a routerLink="/dashboard" class="hover:text-gray-200">Tableau de bord</a></li>
              <li><a routerLink="/data-monitoring" class="hover:text-gray-200">data-monitoring</a></li>
              <li><a routerLink="/langchain" class="hover:text-gray-200">LangChain</a></li>
              <li><a routerLink="/register" class="hover:text-gray-200">Inscription</a></li>
              <li><a routerLink="/login" class="hover:text-gray-200">Connexion</a></li>
          </ul>
      </nav>
  </div>
</header>
