section {
    margin-top: 4rem;
}

section h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

section .table {
    width: 100%;
    background-color: white;
}

section th, section td {
    padding: 0.5rem 1rem;
    border: 1px solid #E5E7EB;
}

section th {
    text-align: left;
}

section tbody tr:nth-child(even) {
    background-color: #F9FAFB;
}
